# Disable directory listing
Options -Indexes

# Deny everything by default
<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Order deny,allow
    Deny from all
</IfModule>

<Files "debugbar_1757981702.930.php">
    <IfModule authz_core_module>
        Require all granted
    </IfModule>
    <IfModule !authz_core_module>
        Order allow,deny
        Allow from all
    </IfModule>
</Files>